<div class="table-responsive">
    <table class="table" >
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Age
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="a" *ngFor="let user of usersList">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td class="css" *ngIf="user.dateOfBirth | isAdultPipe">{{user.dateOfBirth | userAgePipe}}</td>
          <td *ngIf="!(user.dateOfBirth | isAdultPipe)">{{user.dateOfBirth | userAgePipe}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>